<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->

    <appSettings>
	    <add key="enableSimpleMembership" value="false" />
    </appSettings>

	<!--To Activate Membership tables-->
	<membership defaultProvider="DefaultMembershipProvider" userIsOnlineTimeWindow="30" hashAlgorithmType="">
		<providers>
			<clear />
			<add connectionStringName="Data Source=SHAY\\MYCRM; Initial Catalog=crmdb;User Id=sa; password=PinguL0v3!;" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MyTestApplication" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="9999" passwordAttemptWindow="10" passwordStrengthRegularExpression="" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" name="DefaultMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</membership>

	<profile>
		<providers>
			<clear />
			<add name="AspNetSqlProfileProvider" connectionStringName="Data Source=SHAY\\MYCRM; Initial Catalog=crmdb;User Id=sa; password=PinguL0v3!;" applicationName="MyTestApplication" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</profile>

	<roleManager enabled="true">
		<providers>
			<clear />
			<add connectionStringName="Data Source=SHAY\\MYCRM; Initial Catalog=crmdb;User Id=sa; password=PinguL0v3!;" applicationName="MyTestApplication" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</providers>
	</roleManager>
	<!--End -->
  
    <system.webserver>
    <handlers>
        <remove name="aspnetcore"/>
        <add name="aspnetcore" path="*" verb="*" modules="aspnetcoremodule" resourcetype="unspecified"/>
    </handlers>
    <aspnetcore processpath="%launcher_path%" arguments="%launcher_args%" stdoutlogenabled="false" stdoutlogfile=".\logs\stdout" />
    </system.webserver>

	<!--To use Authorize in ActionResult-->
	<authentication mode="Forms">
		<forms loginUrl="~/Home/Login" timeout="2880"/>
	</authentication>
	<!--End -->
  

</configuration>